

@media screen and (max-width: 768px) {
header nav {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

header nav .menu {
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

main .baner {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 80%;
}
main .baner-text input{
	font-size:90%;
	width: 50%;
}
main .about {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 80%;
}

main .about .about-me {
	display: grid;
	grid-template-columns: 1fr;
}


}
}


@media screen and (max-width: 375px) {
header nav .menu {
    font-size: 70%;
 }
main .baner .baner-text {
		grid-template-columns: 1fr;
		margin:20px;
		font-size: 70%;
}

main .about {
	display: grid;
	grid-template-columns: 1fr;

}

main .about .about-me {
	display: grid;
	grid-template-columns: 1fr;

}
}