
@import (link href="https://fonts.googleapis.com/css?family=Barlow&display=swap");

:root {
    font-family: 'Barlow', sans-serif;
    --main-color: black;
    scroll-behavior: smooth;
	--hovver-color: red;
	--sectionbackcolor: #fafafa;
    }

body {
   max-width: 1170px;
   margin: auto;
 }

 h1, h2, h3, p, div, nav, header, footer {
    margin: 0;
    padding: 0;
 
}
header nav {
	display: flex;
	justify-content: space-between;
	align-items: center; 
	}
header nav .logo {
	display: flex;
	justify-content: center;
	padding: 0px;
	margin-left: 20px;	
	}
	
header nav .menu {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
   padding: 0;
 }

header nav .menu {
		flex: 1;
	}


header {
	padding-bottom: 10px;
	padding-top: 10px;
}

header nav .menu a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--main-color);
}

header nav .menu a:hover {
	border-bottom: 2px solid var(--hovver-color);
}

main .baner img {
	display: block;
	max-width: 100%;
	height: auto;
}

main .baner {
	background-color: var(--sectionbackcolor);
	display: block;
	width: 100%;
	height: 100%;
}

main .baner {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

main .baner-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	margin: 50px;
}

main .baner-text p {
	text-align: justify;
	margin:50px;

}

main .baner-text input{
	box-shadow: 0px 6px 6px -4px #474747;
	background-color:#424242;
	border-radius:28px;
	border:1px solid #b3b3b3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	width: 200px;
}
main .baner-text input:hover {
	background-color:#636363;
}
main .baner-text input:active {
	position:relative;
	top:1px;
}

main .about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	
}
main .about .about-me {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr: 
	justify-items: start;
	align-items: center;
	margin: 50px;
}

main .about .about-me ul {
	
	line-height: 30px;
}
main .about .about-me p {
	text-align: justify;
	
}
main .video {
	background-color: black;
	display: block;
	width: 100%;
	height: 100%;

} 
main .video iframe {
	display: block;
	width: 100%;
	align-items: center;
	
}

main .why-learn {

	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: start;
	align-items: center;
	background-color: var(--sectionbackcolor);
	width: auto;
	height: auto;
}

main .why-learn .why-learn-one {
	margin: 50px;
	align-self: start;
}
main .why-learn .why-learn-one p {
	margin-top: 50px;
	text-align: justify;

}
main .why-learn .why-learn-list {
	margin: 50px;
	text-align: justify;
}
main .why-learn .why-learn-list img {
	width: 25px;
	height: 25px;
	float: left;
	
}

main .why-learn .why-learn-list p {
	padding: 30px;
}

main .what-know h2 {
	padding: 50px;

}

main .what-know #learning {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 15px;
	margin: 50px;

}

main .what-know #learning figure {
	margin:0;
	padding: 0;
}

main .what-know #learning figure img {
    display: block;
	width: 100%;
	align-items: center;
}

main .what-know #learning figure figcaption {
   text-align: center;
}

main .notice {
	background-color: var(--sectionbackcolor);
	width: auto;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

main .notice #contact h2 {
	padding: 50px;
}
main .notice #contact {
	grid-template-rows: 1fr 1rf;
}

main .notice #contact form {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	padding: 50px;
	align-items: center;
	margin: 50px;
	padding: 0;
}

main .notice #contact form input {
	padding: 10px;
	border-radius: 10px;
	
}

main .notice #contact form textarea {
	border-radius: 10px;
}
main .notice #contact form #send {
	box-shadow: 0px 6px 6px -4px #474747;
	background-color:#424242;
	border-radius:28px;
	border:1px solid #b3b3b3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	padding:16px 31px;
	text-decoration:none;
	width: 160px;
	height: 50px;
	margin-top: 20px ;
	justify-self: center;
	
}

main .notice #contact form #send:hover {
	background-color:#636363;
}

main .notice #contact form #send:active {
	position:relative;
	top:1px;
}

main .notice .social {
	display: grid;
	grid-template-rows: 1fr 1fr;
}
main .notice .social p {
	padding: 50px;
	text-align: justify;
	position: relative;
	align-self: end;
}

main .notice .social .social-link {
	padding: 50px;
	justify-self: center;

}

main .notice .social .social-link img {
	width: auto;
	margin: 20px;
	padding: 5px;
	box-shadow: 0px 6px 6px -4px #474747;
	border-radius: 50%;

}

main .notice .social .social-link a {
	color: var(--sectionbackcolor);
}

footer {
	background-color: dimgray;
	height: 50px;
	width: auto;
}

footer h6 {
	margin: 0;
	padding: 20px;
	text-align: center;
	color: white;
}






















